{% extends "base.html" %}
{% block CSS %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
{% endblock%}

{% block main %}
<div class="container">
    <div class="single-property-card">
        <div class="picture-card">
            <img class="property-img-single" src="{{ url_for('static', filename='uploads/' + property.photo_filename) }}" alt="{{ property.title }}">
        </div>
        <div class="details-section">
            <h3>{{ property.title }}</h3>
            <div class="price-type-div">
                <p class="price-text">${{ property.price }}</p>
                <p class="type-text">{{ property.type }}</p>
            </div>
            <p class="description-text">{{ property.description }}</p>
            <div class="rooms-div">
                <i class="fa-solid fa-bed"></i><p>{{ property.rooms }} Bedrooms</p>
                <i class="fa-solid fa-bath"></i><p>{{ property.bathrooms }} Bathrooms</p>
            </div>
            <div class="location-div">
                <i class="fa-solid fa-location-dot"></i>
                <p class="property-text">{{ property.location }}</p>
            </div>

            <div class="card-footer">
                <button class="btn btn-primary">Email Realtor</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}